# File: ibrand.cnf
# Configuration file for the IronBridge RNG OpenSSL engine and associated linux daemon/service.
# Created: JG 30-Jun-2020

##################################
# Authentication Settings
##################################
# AUTHTYPE: SIMPLE, (SAML), (SCL)
AUTHTYPE=SIMPLE 
AUTHURL=ironbridgeapi.com/api/login 
AUTHUSER=Fred
AUTHPSWD=Pa55w0rd
AUTHRETRYDELAY=15

##################################
# Communication Settings
##################################
# BASEURL of IronBridge API: ironbridgeapi.com/api
BASEURL=ironbridgeapi.com/api
BYTESPERREQUEST=16
RETRIEVALRETRYDELAY=3

##################################
# Storage Settings
##################################
# STORAGETYPE: FILE, (MEMORY), (AMQP), (DATASTORE)
STORAGETYPE=FILE
# STORAGEDATAFORMAT: RAW, BASE64, (HEX)
STORAGEDATAFORMAT=RAW
STORAGEFILENAME=/var/lib/ibrand/ibrand_data.bin 
# For easy refence: 1MB=1038336, 100KB=102400
STORAGEHIGHWATERMARK=1038336
STORAGELOWWATERMARK=102400
IDLEDELAY=10
# VERBOSE: Bitmapped field. Combine any of {Category:Bitpos}={{STATUS:0},{AUTH:1},{DATA:2},{CURL:3}}
VERBOSE=1
