# This openssl configuration file enables the IronBridge ibrand and stdrand RNG engines.

openssl_conf = openssl_def

[openssl_def]
engines = engine_section

[engine_section]
ibrand = ibrand_section
stdrand = stdrand_engine_section

[ibrand_section]
engine_id = ibrand_openssl
default_algorithms = RAND
init = 0

[stdrand_engine_section]
engine_id = stdrand_engine
init = 0
