Source: openssl-pqe-engine
Section: misc
Priority: optional
Maintainer: LACChain Team <support@lacchain.net>
Build-Depends: debhelper (>=13~), pkg-config, gcc, cmake, libssl-dev, libcurl4-openssl-dev, liboqs-dev (=0.4.0)
Standards-Version: 4.1.4
Homepage: https://github.com/lacchain/openssl-pqe-engine

Package: openssl-pqe-engine
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: OpenSSL engine for retrieving post quantum entropy from a remote source
